dash==2.18.2
dash-bootstrap-components==1.6.0
plotly==6.1.2
pandas>=3.0.0
numpy>=2.0.0
scipy>=1.14.0
requests==2.32.3
beautifulsoup4==4.12.3
html5lib==1.1
lxml>=5.0.0
APScheduler==3.10.4
gunicorn==22.0.0
